<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="">
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="" defer></script>
        <title>Sales Management System</title>
    </head>
    <body>
        <nav class="navbar">
            
        </nav>
        {% block section %}{% endblock %}
        {% if warning %}
            <script>alert("{{ warning }}")</script>
        {% endif %}
    </body>
</html>